<div class="main">
  <div class="main11">
    <a href="javascript:void(0);" routerLink="/login">ElectricalOrder</a>

    <div class="main12">
      <a class="aa" href="javascript:void(0);" routerLink="/login">Login</a>
      <a class="aa" href="javascript:void(0);" routerLink="/home">Home</a>
      <a class="aa" href="javascript:void(0);" routerLink="/dashboard">Dashboard</a>
      <a class="aa" href="javascript:void(0);" routerLink="/register">Register</a>     
    </div>
  </div>
</div>
